<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RegisterMapper">

    
    
    <insert id="register" parameterType="com.example.demo.model.RegisterModel" >
   		INSERT 
INTO usertable_1( 
    email, firstname, middlename, lastname, fisrtnamekana, middlenamekana, lastnamekana, fisrtnamekanzi, lastnamekanzi, visatype, visadate, password
) 
VALUES ( 
#{email},#{fisrtname},#{middlename},#{lastname},#{fisrtnamekana},#{middlenamekana},#{lastnamekana},#{fisrtnamekanzi},#{lastnamekanzi},#{visatype},#{visadate},#{password}
)
   		
    </insert>
    
    
    <select id="checkEmailExists" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM usertable_1
        WHERE email = #{email}
    </select>
</mapper>



